.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resetButton {
  cursor: pointer;
  padding: 5px;
  border: 1px solid #000;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.resetButton:hover {
  color: #000;
  background-color: white;
}
